@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.navbar-logo {
  height: 40px;
  width: auto;
}


.container-fluid {
  margin-left: 10px;
}

.me-3 {
  margin-right: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #1c1d20;
  color: #000000;
}

.calendar-container {
  margin-left: 50px;
}

.text-black{
  color: #000000;
}